.headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1px;
    position: absolute;
    width: 466px;
    height: 78px;
    left: 355px;
    top: 171px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

img {
    cursor: pointer;
}

input {
    cursor: pointer;
}

select {
    cursor: pointer;
}

.taskCard {
    margin-left: 230px;
    margin-top: 89px;
    background: #F5F5F5;
    /*background-color: yellowgreen;*/
    display: flex;
    flex-direction: column;
}

.taskContainerLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    position: absolute;
    width: 422px;
    left: 355px;
    top: 290px;
    cursor: pointer;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 422px;
    height: 104px;
}

.title {
    width: 65px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.titleInputContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.titleInput {
    width: 114px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    outline: none;
}


.descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 172px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.description {
    width: 154px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.descriptionInput {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.categoryContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 422px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.category {
    width: 93px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 8px;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 422px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.assignedContainer {
    width: 118px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 8px;
}

#assignedTo,
#selectedCategory {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    border: none;
    outline: none;
}

.assignToContainer,
.selectedCategoryContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5px; /*high and width*/
    width: 100%;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#dropdownContainer,
#ContactsDropdownContainer {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    border-top: none;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
    border-radius: 0 0 10px 10px;
}

.dropdownChoiceCategory,
.dropdownChoiceContact {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.circle {
    height: 10px;
    width: 10px;
    color: transparent;
    border: 3px solid white;
    border-radius: 100%;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgb(221, 96, 96);
}

.circleColor1{
    background-color: transparent;
}

.circleColor2{
    background-color: rgb(137, 126, 177);
}

.circleColor3{
    background-color: rgb(141, 235, 162);
}


#colorContainer{
    display: none;
}

.midLine {
    position: absolute;
    width: 0px;
    height: 551px;
    left: 836px;
    top: 290px;
    border: 1px solid #D1D1D1;
}


.taskContainerRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 422px;
    height: 356px;
    left: 895px;
    top: 290px;
    cursor: pointer;
}

.dateContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 104px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.date {
    width: 91px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;

    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.textboxDate {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


input[type="date"] {
    width: 422px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    padding: 7px;
    border: none;
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    cursor: pointer;
}


.priorityContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 422px;
    height: 113px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.priority {
    width: 39px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.priorityBoxesContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 422px;
    height: 61px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.prioUrgentBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*padding: 18px 10px;*/
    gap: 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.prioUrgentBox:hover{
    transform: scale(1.1);
}


.prioMediumBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 130px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.prioMediumBox:hover{
    transform: scale(1.1);
}

.prioLowBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
    cursor: pointer;
}

.prioLowBox:hover{
    transform: scale(1.1);
}

.subtasksContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 422px;
    height: 111px;

    flex: none;
    order: 2;
    flex-grow: 0;
}


.subtasks {
    width: 92px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.addSubtask {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.subtasksInput {
    width: 178px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
    border: none;
    outline: none;
}

.addSubtaskBtn {
    width: 24px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.checkboxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 110px;
    height: 19px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.subtaskCheck {
    width: 74px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.taskRightContainerBottom {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 25px;

    width: 338px;
    height: 61px;

    position: absolute;
    width: 338px;
    height: 61px;
    left: 984px;
    top: 889px;
    /*right: 118px;
    bottom: 74px;*/
}

.clearTaskBtn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.clearTaskBtn:hover{
    border: 1px solid #32daff; 
}

.clearTaskBtn img:hover{
    filter: brightness(0.25);
}


.createTaskBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 177px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.createTaskBtn:hover{
    background-color: #007cee;
    border: none;
}

.clear {
    width: 53px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.create {
    width: 123px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}