body {
    margin: 0;
    background: #f6f7f8;
    overflow-y: scroll !important;
}

.frame0 {
    margin: 0;
    width: auto;
    height: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #f6f7f8;
}

textarea {
    resize: none;
}

.d-column {
    display: flex;
    flex-direction: column;
}

.d-none {
    display: none;
}

.taskCard {
    box-sizing: border-box;
    height: 1024px;
    width: auto;
    background: #f6f7f8;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 230px;
    margin-top: 89px;
    display: flex;
    flex-direction: column;
}

.headline {
    width: 80vw;
    height: 78px;
    margin-top: 82px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;

}

.contentContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 599px;
    margin-left: 123px;
    margin-top: 41px;
    position: relative;
}

.leftContent {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.topBoxLeft {
    display: flex;
    flex-direction: column;
}

.topBoxRight {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.midLine {
    box-sizing: border-box;
    margin-left: 59px;
    margin-right: 59px;
    width: 0px;
    height: 100%;
    border: 1px solid #D1D1D1;
}

.rightContent {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
}

.BottomBoxLeft {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
}

.BottomBoxRight {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 0px;
}

.buttonsContainer {
    margin-left: 908px;
    width: 338px;
    box-sizing: border-box;
    height: 61px;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 160px;
    z-index: 2;
}

.clearButton {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #2A3647;
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 970px;
    top: 889px;

}

.clearButton:hover {
    border: 1px solid #58B9E3;
    color: #58B9E3;
}

.clearButton:active {
    border: 1px solid #5E6776;
    color: #5E6776;
}

.clearButtonImgblue {
    filter: invert(76%) sepia(51%) saturate(1615%) hue-rotate(168deg) brightness(92%) contrast(92%);
}

.clearButtonImgGray {
    filter: invert(41%) sepia(6%) saturate(1189%) hue-rotate(179deg) brightness(92%) contrast(84%);
}

.createButton {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    width: 177px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.createButton:hover {
    border: none;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.createButton:active {
    background-color: #091931;
}

.titleContainer {
    width: 422px;
    height: 104px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    width: 65px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

#title {
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

#title::placeholder {
    width: 114px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

.descriptionContainer {
    width: 422px;
    height: 172px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 34px;
}

.description {
    width: 154px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

#description::placeholder {
    width: 190px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}


#description {
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 21px;
    padding-top: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.category,
.assignedTo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 8px;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 422px;
}

.inputContainer,
.contactInputContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 21px;
    padding-right: 21px;

    width: 422px;
    height: 51px;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
}


/* Change auto chrome bg color to white*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.input {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    border: none;
    outline: none;
    width: 255px;
    background-color: none;
    z-index: 2;
}


.assignInput {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    border: none;
    outline: none;
    width: 270px;
}


.categoryList,
.assignedList {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    display: none;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-top: none;
    border-radius: 0 0 10px 10px; /* top-left top-right bottom-right bottom-left */
    overflow-y: auto;
    padding-left: 18px;
}

.categoryList div:hover,
.assignedList div:hover {
    background-color: lightgray;
}

.newCategoryInput {
    width: 50px;
    height: 51px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    display: none;
}

.newAssignToInput {
    width: 50px;
    height: 51px;
    padding-left: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    display: none;
    z-index: 2;
}

.newCategoryInput img,
.newAssignToInput img {
    width: 16px;
    height: 16px;
    z-index: 2;
}

.newCategoryColorsBox {
    width: 422px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: none;
}

.categoryAndColor,
.assignedContact {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 21px;
    padding-right: 21px;
    padding-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.buttonOpenCloseCategory {
    cursor: pointer;
    padding-left: 90px;
}

.buttonOpenClose {
    cursor: pointer;
    padding-left: 90px;
}


.color {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.assignContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 34px;
    width: 422px;
}

.circleContactsContainer {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
}

.circleContact {
    font-weight: 500;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rebeccapurple;
    align-items: center;
    font-size: 28px;
    justify-content: center;
    color: #D1D1D1;
}

.date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

.dateInputField {
    box-sizing: border-box;
    width: 420px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    padding-left: 21px;
    padding-right: 21px;
}

/*date InputField placeholder color*/
input[type=date]:invalid::-webkit-datetime-edit {
    color: #D1D1D1;
}

.priority {
    width: 39px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    margin-top: 34px;
}

.priorityBoxesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 420px;
    height: 61px;
}

.prioContainer {
    padding-top: 34px;
}

.prioUrgentBox,
.prioMediumBox,
.prioLowBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.prioUrgentBox:hover,
.prioMediumBox:hover,
.prioLowBox:hover {
    transform: scale(1.1);
}


.subtasks {
    width: 92px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}


.addSubtaskContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    isolation: isolate;
    width: 420px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#subtaskOninput {
    width: 50px;
    height: 51px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    gap: 10px;
    display: none;
}

#subtaskOninput img {
    width: 16px;
    height: 16px;
}

.line {
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    width: 0px;
    height: 70%;
    border: 1px solid #D1D1D1;
}

.subtasksInput {
    margin-left: 21px;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.subtasksInput::placeholder {
    width: 178px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

.addSubtaskBtn {
    margin-right: 21px;
}


.SubtaskAppendixContainer {
    box-sizing: border-box;
    width: 100%;
}

.bgUrgent {
    background-color: #FF3D00;
}

.bgMedium {
    background-color: #FFA800;
}

.bgLow {
    background-color: #7AE229;
}

.bgTextWhite {
    color: white;
}

.Img-white {
    filter: brightness(0) invert(1);/*first brightness(0) makes all image black, except transparent parts, which remain transparent,second invert(1) makes the black parts white.*/
}

.messageAddedTask {
    position: absolute;
    left: 50%;
    bottom: 74px;
    background-color: #2A3647;
    width: 326px;
    height: 74px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position: absolute;
    top: 700px;
    left: 470px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    display: none;
    z-index: 5;
}

.messageAddedTask p {
    width: 235px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    z-index: 5;
}

.messageAddedTask img {
    width: 22px;
    height: 26px;
    transform: rotate(-180deg);
    z-index: 5;
}

/*Check Mark design The container */
.container {
    position: relative;
    padding-left: 40px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: top;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #F4F4F4;
    border: 1px solid black;
    border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    display: block;
    background-color: #f4f4f4F4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 2px;
    height: 9px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*checkbox filled design*/
.filledCheckboxContainer {
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: top;
}

/* Hide the browser's default checkbox */
.filledCheckboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid black;
    border-radius: 3px;
}

.newContactImg {
    margin-bottom: 8px;
    cursor: pointer;
    filter: invert(100%) sepia(76%) saturate(129%) hue-rotate(332deg) brightness(111%) contrast(101%);
    width: 23px;
    height: 23px;
}

/* Show the checkmark when checked */
.filledCheckboxContainer input:checked~.checkmark:after {
    display: block;
    left: 3px;
    top: 3px;
    width: 4px;
    height: 4px;
    border: solid black;
    border-width: 3px 3px 3px 3px;
    background: black;
}

/*Animation AddTask To board*/
@keyframes fadeOut {
    from {opacity: 1;}

    to {opacity: 0;}
}

.animate {animation: 4s fadeOut ease-in-out;}

/*disable button*/
.buttonDisabled {pointer-events: none;}

.buttonEnabled {pointer-events: auto;}