body {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.mt-15 {
    margin-top: .8rem;
}

.taskCard {
    height: 1024px;
    width: 1440px;
    background: #f6f7f8;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 230px;
    margin-top: 89px;
    display: flex;
    flex-direction: column;
}

.headline {
    /*width: 466px;*/
    height: 78px;
    margin-left: 123px;
    margin-top: 82px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;

}

.contentContainer {
    display: flex;
    width: 962px;
    /*height: 506px;*/
    height: auto;
    margin-left: 123px;
    margin-top: 41px;
    position: relative;
}

.leftContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    width: 422px;
    /*height: 506px;*/
    height: auto;
}

.midLine {
    margin-left: 59px;
    /*margin-right: 59px;*/
    width: 0px;
    height: 506px;
    border: 1px solid #D1D1D1;
}

.rightContent {
    margin-left: 59px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    width: 422px;
    height: 506px;
}

.buttonsContainer {
    margin-left: 752px;
    margin-top: 93px;
    width: 338px;
    height: 61px;
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.clearButton {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #2A3647;
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.clearButton:hover {
    border: 1px solid #32daff;
    color: #32daff;
}

.clearButton img:hover {
    color: #32daff;
}

.createButton {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #FFFFFF;
    width: 177px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.createButton:hover {
    background-color: #007cee;
    border: none;
}

.titleContainer {
    width: 422px;
    height: 104px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    width: 65px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */
    color: #000000;
}

#title {
    /*width: 422px;*/
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 21px;
}

.descriptionContainer {
    width: 422px;
    height: 172px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.description {
    width: 154px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}


#description {
    height: 119px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding-left: 21px;
    padding-top: 18px;
}

/*
.category {
    width: 93px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
} */

.category,
.assignedTo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 8px;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 422px;
}

.inputContainer,
.contactInputContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 21px;

    width: 422px;
    height: 51px;

    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

#input,
#assignInput {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    border: none;
    outline: none;
}

.categoryList,
.assignedList {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    display: none;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-top: none;
    /* Four values border-radius */
    /* top-left top-right bottom-right bottom-left */
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
}

.categoryList div:hover,
.assignedList div:hover {
    background-color: lightgray;
}

.categoryAndColor,
.assignedContact {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 21px;
    padding-right: 21px;
    padding-left: 5px;
}

.buttonOpenClose {
    cursor: pointer;
}

.dropDownDisplay {
    display: block;
}

.color {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

/*badge colors */
.orange {
    background: #ff8a00;
}

.red {
    background: #ff0000;
}

.blue {
    background: #0038ff;
}

.lightblue {
    background: #8aa4ff;
}

.pink {
    background: #e200be;
}

.lightpink {
    background: #fc71ff;
}

.green {
    background: #2ad300;
}

.turquo {
    background: #1fd7c1;
}


/*badge colors */

/*
#category,
#assignedTo {
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    outline: none;
    padding-left: 21px;
}

.assignedTo {
    width: 118px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}
*/

.assignContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 422px;
}

/*
.contactCheckbox {
    display: none;
}*/

.date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}

#date {
    box-sizing: border-box;
    width: 420px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
    padding-left: 21px;
    padding-right: 21px;
}

.priority {
    width: 39px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    margin-top: 34px;
    padding-left: 21px;
    padding-right: 21px;
}

.priorityBoxesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 420px;
    height: 61px;
}

.prioUrgentBox,
.prioMediumBox,
.prioLowBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.prioUrgentBox:hover,
.prioMediumBox:hover,
.prioLowBox:hover {
    transform: scale(1.1);
}


.subtasks {
    width: 92px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
}


.addSubtaskContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    isolation: isolate;
    width: 420px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#subtaskOninput{
    width: 50px;
    height: 51px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    gap: 10px;
    display: none;
}

#subtaskOninput img{
    width: 16px;
    height: 16px;
}

.line{
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    width: 0px;
    height: 70%;
    border: 1px solid #D1D1D1;
}

.subtasksInput {
    margin-left: 21px;
    outline: none;
    border: none;
}

.addSubtaskBtn {
    margin-right: 21px;
    /*display: none;*/
}

.checkboxContainer {
    display: flex;
    flex-direction: row;

}

.SubtaskAppendixContainer{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: lightblue;
}